// Nav Styling

.nav{
  position: fixed;
  width: 100%;
  height: 10vh;
  @include row-flex;
  justify-content: space-between;
  font-family: $body-font;
  font-size: 1.8em;
  // background: $blue;
  background: rgba($color: $blue, $alpha: 0.4);
  // opacity: 40%;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  &__left{
    height: 100%;
    margin: 0em 4em;
  }

  &__logo{
    height: 100%;
    padding: 1em;
  }

  &-logo{
    height: 150%;
    width: auto;
        // fill: $white;
  }

  &__right{
    height: 100%;
    @include row-flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0em 4em;
    // padding-right: 4em;
    gap: 1em;
  }

  &-div{
    height: 60%;
    border: solid 1px $white;
  }

  &__links{
    @include row-flex;
    gap: 0.8em;

    svg{
      fill: $blue;
      height: 1.5em;
      width: auto;
    }
  }


  a {
    font-size: 1.5em;
    font-weight: 500;
    border-bottom: solid 1px #00000000;
    color: $white;
  }

  a:hover {
    color: $orange !important;
    border-bottom: solid 1px $orange;
    transition: 0.3s ease-in-out;
  }
}